.homebanner {
    &--section {
        padding-bottom: 0;
        margin-bottom: 35px;

        &::before {
            content: "";
            position: absolute;
            bottom: 111px;
            left: 0;
            width: 100%;
            height: calc(100% - 111px);
            background-color: $color-purple;
            border-radius: 0 0 130px 130px;
        }
    }

    &-slider {
        &-wrap {
            position: relative;
        }

        &-navwrap {
            z-index: 1;
            position: absolute;
            top: 248px;
            left: calc(50% + 81px);
            display: flex;
            align-items: center;
            transition: all .3s ease-out;

            .slidenav {

                &-prev,
                &-next {
                    position: relative;
                    display: inline-flex;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: $color-orange;
                    cursor: pointer;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        width: 8px;
                        height: 8px;
                        border: 2px solid #fff;
                    }
                }

                &-prev {

                    &::before {
                        transform: translate(-25%, -50%) rotate(45deg);
                        border-width: 0 0 2px 2px;
                    }
                }

                &-next {
                    order: 2;

                    &::before {
                        transform: translate(-65%, -50%) rotate(45deg);
                        border-width: 2px 2px 0 0;
                    }
                }
            }

            .num {
                color: #fff;
                padding: 0 12px;
                font-size: 22px;
                font-weight: 700;
            }
        }

        &--col {
            &-text {
                padding-left: 81px;
            }
        }
    }

    .media {
        img {
            width: 100%;
        }
    }

    .text {
        color: #fff;
        max-width: 454px;
        padding-bottom: calc(111px + 85px);

        p {
            font-size: 22px;
        }

        >*:last-child {
            margin-bottom: 0;
        }
    }
}