.productsec {
    &--section {
        padding-bottom: 140px;

        @media (max-width: 991px) {
            padding-bottom: 55px;
        }

        &.pageheader--pullup {
            margin-top: -295px;

            &::before {
                top: 90px;
                height: calc(100% - 90px);
            }
        }
    }

    &--col {
        &-text {
            @media (min-width: 992px) {
                padding-left: 95px;
            }
        }
    }

    &--media {
        &-primary {
            position: relative;
            margin-bottom: 27px;

            @media (max-width: 991px) {
                margin-bottom: 47px;
            }

            .media-item {
                height: 575px;
                border-radius: 43px;
                overflow: hidden;

                @media (max-width: 991px) {
                    height: 380px;
                }

                @media (max-width: 567px) {
                    height: 271px;
                }

                img {
                    display: block;

                    @include imgfit;
                }
            }

            .slider {
                &-navwrap {
                    z-index: 1;
                    position: absolute;
                    bottom: -180px;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    display: flex;
                    align-items: center;
                    transition: all .3s ease-out;

                    @media (max-width: 991px) {
                        // position: relative;
                        // top: auto;
                        // left: auto;
                        display: none;
                    }

                    .slidenav {
                        &-prev,
                        &-next {
                            position: relative;
                            display: inline-flex;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background-color: $color-orange;
                            cursor: pointer;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(45deg);
                                width: 8px;
                                height: 8px;
                                border: 2px solid #fff;
                            }
                        }

                        &-prev {
                            &::before {
                                transform: translate(-25%, -50%) rotate(45deg);
                                border-width: 0 0 2px 2px;
                            }
                        }

                        &-next {
                            order: 2;

                            &::before {
                                transform: translate(-65%, -50%) rotate(45deg);
                                border-width: 2px 2px 0 0;
                            }
                        }
                    }

                    .num {
                        color: $color-black;
                        padding: 0 12px;
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
            }
        }

        &-secondary {
            max-width: 434px;

            @include margin-auto;

            .item {
                padding: 0 12.5px;
            }

            .media-item {
                width: 128px;
                max-width: 100%;
                height: 126px;
                border-radius: 27px;
                overflow: hidden;

                img {
                    display: block;

                    @include imgfit;
                }
            }
        }
    }

    &--text {
        @media (min-width: 992px) {
            display: flex;
            flex-flow: column;
            padding-top: 138px;
        }

        @media (max-width: 991px) {
            display: flex;
            flex-flow: column;
        }
    }

    .heading {
        &-location {
            margin-bottom: 14px;
        }

        &-title {
            font-size: 48px;
            line-height: normal;
            margin-bottom: 14px;

            @media (max-width: 991px) {
                font-size: 28px;
            }
        }

        &-date {
            margin-bottom: 27px;
        }
    }

    &-description {
        @media (max-width: 991px) {
            order: 9;
            padding-top: 30px;
        }

        p {
            color: $color-black-light;
            line-height: 24px;

            @media (max-width: 991px) {
                font-size: 16px;
                line-height: normal;
            }
        }
    }

    .price {
        p {
            font-size: 16px;
            font-weight: 500;
        }

        .price-num {
            font-size: 45px;
            line-height: normal;
            margin-top: 9px;

            @media (max-width: 991px) {
                font-size: 28px;
            }
        }
    }

    &--footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 24px;

        > * {
            @media (max-width: 991px) {
                margin-bottom: 10px;
            }
        }
    }
}

.product {
    &--num {
        display: flex;
        align-items: center;
        background-color: $color-gray;
        border-radius: 10px;
        width: 124px;
        height: 50px;
        padding: 12px 14px;
        margin-right: 22px;

        &-plus,
        &-minus {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            color: #fff;
            background-color: $color-purple;
            cursor: pointer;

            &::before {
                font-size: 20px;
            }
        }

        &-minus {
            &::before {
                content: "-";
            }
        }

        &-plus {
            &::before {
                content: "+";
            }
        }

        &-input {
            &[type="text"],
            &[type="number"] {
                width: 30px;
                min-width: 1px;
                color: $color-black;
                text-align: center;
                padding: 0;
                margin: 0 8px;
                background-color: transparent;
                border: 0;
                -moz-appearance: textfield;
                pointer-events: none;

                &:focus {
                    outline: none;
                    border: 0;
                }
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.product-addtocart {
    .icon {
        margin-right: 14px;
    }
}

.woocommerce-notices-wrapper {
    .woocommerce-message {
        position: absolute;
        top: -33px;
        left: 350px;
        padding: 6px;
        color: #650D6B;
    }
}
