.custom-dropdown {
    position: relative;

    &-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-out;

        &::after {
            content: "";
            width: 6px;
            height: 6px;
            border: 2px solid $color-black;
            border-width: 0 0 2px 2px;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            margin-left: 11px;
            transition: all .3s ease-out;
        }
    }

    &-list {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 100%;
        background-color: #fff;
        display: none;

        ul {
            padding: 10px 15px;
            margin-bottom: 0;
        }

        li {
            padding: 10px 0;
            margin-bottom: 0;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(#000, .1);
            }
        }
    }

    &.toggled {
        z-index: 99;

        .custom-dropdown {
            &-btn {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &::after {
                    transform: rotate(135deg) translate(25%, -25%);
                }
            }
        }
    }
}