@keyframes ani-mouse {
    0% {
        top: 6px;
        opacity: 1;
    }

    50% {
        top: 18px;
        opacity: 1;
    }

    75% {
        top: 24px;
        opacity: 0;
    }

    100% {
        top: 36px;
        opacity: 0;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}
