* {
    box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1290px;
    padding: 0 36px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 991px) {
        padding: 0 24px;
    }

    @media (max-width: 767px) {
        padding: 0 16px;
    }
}

.section {
    position: relative;
    padding: 40px 0;

    &-head {
        margin-bottom: 45px;
    }

    &-bg {
        z-index: -1;

        @include absoldefault;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @media (max-width: 991px) {
        &-head {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 767px) {
        padding: 30px 0;
    }
}

.section-fullsize {
    .container {
        padding: 0;
    }
}

.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m {
    &t {
        &-0 {
            margin-top: 0 !important;
        }
    }

    &b {
        &-0 {
            margin-bottom: 0 !important;
        }
    }

    &l {
        &-auto {
            margin-left: auto !important;
        }
    }

    @media (min-width: 992px) {
        &t {
            &-lg-0 {
                margin-top: 0 !important;
            }
        }

        &b {
            &-lg-0 {
                margin-bottom: 0 !important;
            }
        }

        &l {
            &-lg-auto {
                margin-left: auto !important;
            }
        }
    }
}

.p {
    &t-0 {
        padding-top: 0 !important;
    }

    &b-0 {
        padding-bottom: 0 !important;
    }
}

.max-width {
    &--100 {
        max-width: 100px !important;
    }

    &--150 {
        max-width: 150px !important;
    }

    &--200 {
        max-width: 200px !important;
    }

    &--250 {
        max-width: 250px !important;
    }

    &--300 {
        max-width: 300px !important;
    }

    &--350 {
        max-width: 350px !important;
    }

    &--400 {
        max-width: 400px !important;
    }

    &--450 {
        max-width: 450px !important;
    }

    &--500 {
        max-width: 500px !important;
    }

    &--550 {
        max-width: 550px !important;
    }

    &--600 {
        max-width: 600px !important;
    }

    &--650 {
        max-width: 650px !important;
    }

    &--700 {
        max-width: 700px !important;
    }

    &--730 {
        max-width: 730px !important;
    }

    &--750 {
        max-width: 750px !important;
    }

    &--800 {
        max-width: 800px !important;
    }

    &--850 {
        max-width: 850px !important;
    }

    &--900 {
        max-width: 900px !important;
    }

    &--950 {
        max-width: 950px !important;
    }

    &--1000 {
        max-width: 1000px !important;
    }

    &--1050 {
        max-width: 1050px !important;
    }

    &--1100 {
        max-width: 1100px !important;
    }

    &--1150 {
        max-width: 1150px !important;
    }

    &--1200 {
        max-width: 1200px !important;
    }

    &--1250 {
        max-width: 1250px !important;
    }

    &--1300 {
        max-width: 1300px !important;
    }

    &--1350 {
        max-width: 1350px !important;
    }

    &--1400 {
        max-width: 1400px !important;
    }
}

.imgfit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.d-block {
    display: block !important;
}

.change-to-bg {
    background-size: cover;
    background-position: center;

    img {
        display: none;
    }
}