.header {
    z-index: 99;
    position: sticky;
    top: 0;
    background-color: $color-purple;

    &-top {
        padding: 30px 0 26px;
        border-bottom: 1px solid #fff;

        .inner {
            display: flex;
            align-items: center;

            >*:not(:last-child) {
                margin-right: 28px;
            }
        }
    }

    .logo {
        width: 192px;

        @media (max-width: 567px) {
            width: 114px;
        }

        img {
            width: 100%;
        }
    }

    .tools {
        margin-left: auto;
    }

    .access-dropdown {

        .custom-dropdown {

            &-list {
                min-width: 270px;
                background-color: $color-yellow;

                ul {
                    li {

                        a {
                            display: flex;
                            align-items: center;
                        }

                        .icon {
                            width: 23px;
                            height: 23px;

                            img {
                                width: 100%;
                            }
                        }

                        .text {
                            font-size: 14px;
                            padding-left: 24px;
                        }
                    }
                }
            }
        }
    }

    &-search {
        position: relative;

        input:not([type="submit"]) {
            font-size: 18px;
            font-weight: 500;
            min-width: 335px;
            height: 50px;
            padding: 10px 50px 10px 35px;
            border: 0;
            border-radius: 24px;

            &::placeholder {
                color: $color-black-light;
            }
        }

        button[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            width: 64px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 0;
            outline: none;
            cursor: pointer;

            img {
                width: 24px;
            }
        }
    }

    &-myaccount {
        padding-bottom: 12px;
        margin-bottom: -12px;

        .custom-dropdown {
            &-btn {
                padding: 12.5px 0;
                color: #fff;

                &::after {
                    border-color: #fff;
                }

                .icon {
                    width: 23px;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    font-size: 18px;
                    font-weight: 500;
                    padding-left: 8px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            &-list {
                min-width: 203px;

                ul {
                    padding: 15px 26px 30px;

                    li {
                        color: $color-purple;
                        font-size: 14px;
                        line-height: normal;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                        border-bottom: 1px solid $color-border;
                    }
                }
            }
        }

        &.toggled {

            .custom-dropdown-btn {
                text-decoration: underline;
            }
        }
    }

    &-cart {
        &-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .text {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: 8px;
        }

        .icon {
            width: 20px;

            img {
                width: 100%;
            }
        }

        .num {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            padding-left: 8.5px;
        }
    }

    &-bot {
        padding: 24px 0 0;

        .inner {
            display: flex;
            align-items: center;
        }
    }

    &-nav {
        position: relative;
        width: 100%;
    }

    &-main {
        padding: 24px 0;

        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .hamburger {
        width: 28px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}